* {
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: blue;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.quiz-card {
    width: 25rem;
}

.card-img-top {
    width: 100%;
    margin: 0;
}

.quiy-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.07);
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding-top: 8px;
}

.bg-success, .bg-danger {
    color: white;
}

