* {
    margin: 0;
    padding: 0;
}

img {
    margin: 10px;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card {
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}